<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>FirstWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MyFirstServlet</display-name>
    <servlet-name>MyFirstServlet</servlet-name>
    <servlet-class>com.java.besant.javatr.MyFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFirstServlet</servlet-name>
    <url-pattern>/MyFirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterStudent</display-name>
    <servlet-name>RegisterStudent</servlet-name>
    <servlet-class>com.java.besant.javatr.RegisterStudent</servlet-class>
    <init-param>
      <param-name>dbuser</param-name>
      <param-value>dbpassword</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStudent</servlet-name>
    <url-pattern>/RegisterStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetriveStudentDetails</display-name>
    <servlet-name>RetriveStudentDetails</servlet-name>
    <servlet-class>com.java.besant.javatr.RetriveStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetriveStudentDetails</servlet-name>
    <url-pattern>/RetriveStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myfirstJsp</servlet-name>
    <jsp-file>/firstJspPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>myfirstJsp</servlet-name>
    <url-pattern>/firstJspPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetriveStudentServlet</display-name>
    <servlet-name>RetriveStudentServlet</servlet-name>
    <servlet-class>com.java.besant.javatr.RetriveStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetriveStudentServlet</servlet-name>
    <url-pattern>/RetriveStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>viewStudents</servlet-name>
  <jsp-file>/viewStudentDetails.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>viewStudents</servlet-name>
  <url-pattern>/viewStudentDetails</url-pattern>
  </servlet-mapping>
</web-app>
